
h1 {
    color: black;
    padding: 0px 20px;
    font-size: 2.2em;
    font-style: italic;
}

#squarearea {
        border-style: solid; 
        border-width: 3px;
        border-color: #bdbdbd;
        width: 800px;
        height: 500px;
        margin-left: 10px;
        position: relative;
}


#add, #colors {
        font-size: 120%;
        color: #5a5854;
        background-color: #f2f2f2;
        border: 3px solid #bdbdbd;
        border-radius: 5px;
        padding: 10px 10px;
        display:block;
        margin: 20px 20px;
        float: left;}

